<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문페이지 모달창</title>
    <style>
        .modal {
            position: absolute;
            display: none;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal_body {
            position: absolute;
            top: 50%;
            width: 1000px;
            height: 600px;
            padding: 40px;
            text-align: center;

            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

            transform: translateY(-50%);
        }
    </style>
</head>

<body>

<div>
    <h2>주문서 작성</h2>
</div>

<div>
    <form name="frm_order" id="orderForm" action="/order/result" method="post">

        <div>
            <h4>주문자 정보</h4>
        </div>

        <div>
            <label>주문자명</label>
            <input type="text" name="mname" th:value="${memberDTO.mname}">
        </div>

        <div>
            <label>휴대폰 번호</label>
            <input type="text" name="mphonenum" th:value="${memberDTO.mphonenum}">
        </div>

        <div>
            <label>이메일</label>
            <input type="email" name="memail" th:value="${memberDTO.memail}">
        </div>

        <div>
            <h4>배송지 정보</h4>

            <span>
                <input type="checkbox">주문자 정보와 동일
            </span>

            <span>
                <button type="button" class="btn-open-modal">배송지 목록</button>
            </span>
        </div>

        <div>
            <label>받는분</label>
            <input type="text" name="receiver">
        </div>

        <div>
            <label>우편번호</label>
            <input type="text" name="zonecode" readonly>

            <span>
                <input type="button" value="주소 찾기" id="btnZipcode" class="btn btn-secondary">
            </span>
        </div>

        <div>
            <label>주소</label>
            <input type="text" name="address" size="50" readonly>
        </div>

        <div>
            <label>상세주소</label>
            <input type="text" name="daddress">
        </div>

        <div>
            <label>휴대폰 번호</label>
            <input type="text" name="dphonenum">
        </div>

        <div>
            <label>배송요청사항</label>
            <select>
                <option>문 앞에 놓아주세요.</option>
            </select>

        </div>

    </form>

</div>

</body>
                <div class="card-body">
                    <form name="frm_order" id="orderForm" action="/order/result" method="post">

                        <div class="input-group mb-3">
                            <span class="input-group-text">배송요청사항 선택</span>
                            <input type="text" class="form-control">
                        </div>

                    </form>

                </div>


    &lt;!&ndash;/* 배송지 목록 버튼 클릭 시 모달창 띄우기 */&ndash;&gt;
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">배송지 목록</h5>
                    배송을 원하는 주소를 선택하시면 주문서에 자동 입력됩니다.
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>기본 배송지</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">선택</button>
                </div>

            </div>
        </div>
    </div>


    &lt;!&ndash;/* 다음 주소 API */&ndash;&gt;
    <script src='http://dmaps.daum.net/map_js_init/postcode.v2.js'></script>

    <script>
        // 다음 주소
        var btnZipcode = document.getElementById('btnZipcode');
        if(btnZipcode != null){
            btnZipcode.onclick = function(){
                var frm = document.frm_order;
                new daum.Postcode({
                    oncomplete : function(data){
                        frm.zonecode.value = data.zonecode;
                        frm.address.value = data.address;
                    }
                }).open();
            }
        }

    </script>
</div>

<script layout:fragment="script" th:inline="javascript">

    // 배송지 목록 모달창
    const btnOpenModal = new bootstrap.Modal(document.querySelector(".btn-open-modal"))     // 배송지 추가 버튼

    // 모달창 화면에 띄우기
    function showModal(){

        modal.style.display = "flex";
    }

    // 모달창 숨기기
    function hideModal() {

        modal.style.display = "none";
    }

    // 배송지 추가 버튼 눌렀을 때 모달창 띄우기
    btnOpenModal.addEventListener("click", () => {

        showModal();
    });

</script>
-->
